/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Urbanist', sans-serif; */
body {
    background-color: #FFFFF9;
}

.container {
    display: flex;
    width: auto;
    justify-content: space-between;
}


/* Header */
.header-text {
    color: black;
    font-family: 'Urbanist', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-text:nth-of-type(2) {
    margin-left: auto;
}

/* about me */
.about_me {
    margin-left: auto;
}

.title {
    color: black;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
}

.subtitle {
    color: #000;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
}

.goal-text {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

/* main */
.vertical-line {
    width: 1px;
    background-color: black;
    /* margin: 0 auto; */
}

.main-subtitle {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.main-text {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.ed_and_qualities {
    display: flex;
    flex-direction: column;
}

/* footer */

.footer-text {
    color: #000;
    font-family: 'Urbanist', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

