/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Tenor Sans', sans-serif; */

.container {
    width: 100%;
}


/* Header */
.container p {
    display: inline-block;
    /* margin-right: 40px; */
    

    color: #000;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};
/* .container:last-of-type{
    float: right;
} */


/* about me */
.title {
    color: #000;
    text-align: right;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
};

.subtitle {
    color: #000;
    text-align: right;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
};

.goal-text {
    color: #000;
    /* text-align: right; */
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
};

.main-subtitle {
    color: #000;
    text-align: right;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
};

.main-subtitle-normal {
    color: #000;
    text-align: right;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
};

.main-text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
};

.main-text:nth-of-type(2) {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
};

.footer-text {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}